{
  "trailingComma": "all",
  "proseWrap": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
