---
const {
	breakpointColumnsObj = {
		default: 3,
		1100: 2,
		700: 1,
	},
	...props
} = Astro.props;
---

<div class="grid" {...props}>
	<slot />
</div>

<script>
	import Masonry from "masonry-layout";

	// Initialize masonry on the grid
	const grid = document.querySelector(".grid");
	if (grid) {
		const masonry = new Masonry(grid, {
			itemSelector: ".grid-item",
			columnWidth: ".grid-sizer",
			percentPosition: true,
			transitionDuration: 0,
			gutter: 10,
		});
	}
</script>

<style>
	.grid {
		margin: var(--space-m) auto;
		width: 100%;
	}

	:global(.grid-sizer),
	:global(.grid-item) {
		width: 32%;
		margin-bottom: 1rem;
	}

	@media (max-width: 1100px) {
		:global(.grid-sizer),
		:global(.grid-item) {
			width: 48%;
		}
	}

	@media (max-width: 700px) {
		:global(.grid-sizer),
		:global(.grid-item) {
			width: 100%;
		}
	}
</style>
