---
const {
	breakpointColumnsObj = {
		default: 3,
		1100: 2,
		700: 1,
	},
	columnGapLeft = "2rem",
	columnGapBottom = "2rem",
	...props
} = Astro.props;
---

<div
	class="grid"
	{...props}
	style={`--column-gap-left: ${columnGapLeft}; --column-gap-bottom: ${columnGapBottom};`}
>
	<slot />
</div>

<script>
	import Masonry from "masonry-layout";

	// Initialize masonry on the grid
	const grid = document.querySelector(".grid");
	if (grid) {
		const masonry = new Masonry(grid, {
			itemSelector: ".grid-item",
			columnWidth: ".grid-sizer",
			percentPosition: true,
			transitionDuration: 0,
			gutter: 16,
		});
	}
</script>

<style>
	.grid {
		margin: var(--space-m) auto;
		width: 100%;
	}

	:global(.grid-sizer),
	:global(.grid-item) {
		width: 32%; /* Explicitly set to slightly less than 33.33% to account for gutters */
		margin-bottom: var(--column-gap-bottom);
	}

	@media (max-width: 1100px) {
		:global(.grid-sizer),
		:global(.grid-item) {
			width: 48%; /* Explicitly set to slightly less than 50% to account for gutters */
		}
	}

	@media (max-width: 700px) {
		:global(.grid-sizer),
		:global(.grid-item) {
			width: 100%;
		}
	}
</style>
