---
interface Props {
	posts: any[];
}

const { posts } = Astro.props;
const count = posts.length;
const digits = count.toString().length;
const leftOffset = `-${1 + digits}rem`;
---

<div class="styled-container" data-digits={digits} data-debug-count={count}>
	<span style={`left: ${leftOffset}`}>{count}</span>
	<h1><slot /></h1>
</div>

<style>
	span {
		position: relative;
		top: 3.4rem;
		font-size: var(--font-size-md);
		color: var(--color-sea-blue);
		font-weight: 400;
	}

	@media (max-width: 1440px) {
		span {
			top: 0;
			left: 0 !important;
			transform: none;
			display: block;
		}
	}

	h1 {
		font-size: var(--font-size-3xl);
		font-family: var(--font-serif);
		line-height: var(--leading-tighter);
		font-weight: normal;
		margin-bottom: var(--space-s);
	}
</style>
