---
import PostLayout from "../layouts/PostLayout.astro";
import ProseWrapper from "../layouts/ProseWrapper.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import "../global.css";

// Get params from URL
export async function getStaticPaths() {
	const essays = await getCollection("essays");
	const notes = await getCollection("notes");
	const patterns = await getCollection("patterns");

	return [...essays, ...notes, ...patterns].map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<PostLayout frontmatter={entry.data}>
	<ProseWrapper>
		<div>Table of Contents</div>
		<!-- {toc && <TableOfContents headings={headings} />} -->
		<Content />
	</ProseWrapper>
</PostLayout>
