---
import MainNavLinks from "./MainNavLinks.astro";
import MobileMenu from "./MobileMenu.astro";
// import SearchBarAndResults from "../search/SearchBarAndResults.astro";
---

<nav class="navbar">
	<a href="/" aria-label="home">
		<span class="visually-hidden">Home</span>
		<!-- <Logo /> -->
	</a>
	<div class="right-hand-side">
		<!-- <SearchBarAndResults /> -->
		<MainNavLinks />
	</div>
	<MobileMenu />
</nav>

<style>
	.right-hand-side {
		display: flex;
		align-items: center;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: var(--space-s) var(--space-m) var(--space-s) 1.3rem;
		animation: fadeIn 1s 0.1s forwards;
		opacity: 0;
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}
</style>
