---
import MainNavLinks from "./MainNavLinks.astro";
import Logo from "../../animated-icons/Logo.astro";
---

<nav class="navbar" transition:persist>
	<a href="/" aria-label="home">
		<span class="visually-hidden">Home</span>
		<Logo />
	</a>
	<div class="right-hand-side">
		<MainNavLinks />
	</div>
</nav>

<style>
	.right-hand-side {
		display: flex;
		align-items: center;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: var(--space-s) var(--space-m) var(--space-s) 1.3rem;
		animation: fadeIn 1s 0.1s forwards;
		opacity: 0;
	}

	@media screen and (max-width: 550px) {
		.navbar {
			display: none; /* Hide navbar on mobile */
		}
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}
</style>
