---
import GardenHits from "./GardenHits.astro";

const { allPostData } = Astro.props;
---

<div class="search-container">
	<div>
		<!-- <GardenFilters /> -->
		<GardenHits allPostData={allPostData} />
	</div>
</div>
