---
const { maxWidth, gridGap, margin } = Astro.props;
---

<div
	class="three-column-container"
	style={{
		maxWidth: maxWidth || "1400px",
		margin: margin || "var(--space-s) auto var(--space-l)",
		gridGap: gridGap || "var(--space-s)",
	}}
>
	<slot />
</div>

<style>
	.three-column-container {
		width: 100%;
		grid-column: 1 / 4 !important;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		padding: 0 var(--space-3xs);
	}

	.three-column-container :global(div),
	.three-column-container :global(img),
	.three-column-container :global(figure) {
		margin: 0 auto;
		grid-column: auto !important;
		max-width: 100%;
		border-radius: var(--border-radius-base);
	}

	.three-column-container :global(img) {
		margin: var(--space-s) auto 0;
		width: 100%;
		height: auto;
	}

	@media (max-width: 768px) {
		.three-column-container {
			grid-template-columns: 1fr !important;
			grid-gap: var(--space-m);
			max-width: 100%;
			align-items: start;
			justify-items: center;
		}
	}
</style>
